<html>
<head>
<title>
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#ffffff;background-image:url(https://www.greenbiz.com/sites/default/files/styles/gbz_article_primary_breakpoints_kalapicture_screen-lg_1x/public/images/articles/featured/datacenter_0.jpg?itok=LMEo9p7J);background-repeat:no-repeat;background-position:center center;background-attachment:fixed;}
h1{font-family:Helvetica, sans-serif;color:#ffffff;background-color:#004040;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
</style>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
<script>
    !function(e,n,t,r){
        function o(){try{var e;if((e="string"==typeof this.response?JSON.parse(this.response):this.response).url){var t=n.getElementsByTagName("script")[0],r=n.createElement("script");r.async=!0,r.src=e.url,t.parentNode.insertBefore(r,t)}}catch(e){}}var s,p,a,i=[],c=[];e[t]={init:function(){s=arguments;var e={then:function(n){return c.push({type:"t",next:n}),e},catch:function(n){return c.push({type:"c",next:n}),e}};return e},on:function(){i.push(arguments)},render:function(){p=arguments},destroy:function(){a=arguments}},e.__onWebMessengerHostReady__=function(n){if(delete e.__onWebMessengerHostReady__,e[t]=n,s)for(var r=n.init.apply(n,s),o=0;o<c.length;o++){var u=c[o];r="t"===u.type?r.then(u.next):r.catch(u.next)}p&&n.render.apply(n,p),a&&n.destroy.apply(n,a);for(o=0;o<i.length;o++)n.on.apply(n,i[o])};var u=new XMLHttpRequest;u.addEventListener("load",o),u.open("GET","https://"+r+".webloader.smooch.io/",!0),u.responseType="json",u.send()
    }(window,document,"Smooch","5abda2821e10c40022d6c381");
</script>
</head>
<body style="text-align:center;font-family:'Helvetica-Neue','Helvetica',Sans-serif;margin:2em">
    <h2 style="font-weight:100;font-size:48px">Hello I'm Tim's Career Bot</h2>
    <p style="font-weight:normal;font-size:14px">Automated Resume for Tim.</p>
    <p style="font-weight:normal;font-size:26px">Open the bubble on the bottom right to chat with me or click the link to view his resume.</p>
 <script>
    Smooch.init({appId: '5abda2821e10c40022d6c381'}).then(function() {
        // Your code after init is complete
    });
 </script>
</body>
</html>
