<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        var Smooch = require('smooch');
        
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body style="text-align:center;font-family:'Helvetica-Neue','Helvetica',Sans-serif;margin:2em">
    <h2 style="font-weight:100;font-size:32px">Hello my friend I am Tims career bot</h2>
    <p style="font-weight:normal;font-size:14px">Automated information aboutTim.</p>
    <p style="font-weight:normal;font-size:14px">Open the chat window below to talk to Tims Career Bot.</p>
</body>
</html>
