<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        var Smooch = require('smooch');
        
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
      <h2>Hi Im Career Bot</h2>
</body>
</html>
