<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{5abda2821e10c40022d6c381}}'.open() });
    </script>
</head>
<body>
    <h2>Hi I'm Career Bot</h2>
</body>
</html>
