<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{ACa0c195a51bc2e4564680f85414786e8e}}' });
    </script>
</head>
<body>
    <h2>Hi, I'm Career Bot</h2>
</body>
</html>
